*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.title_win{
    height: 1em;
    font-size: 3.5em ;
}

#save_data.btn{
    color: white;
    font-weight: bold;
    
}

i{
    color: rgb(1, 7, 63);
}

.wave {
    font-size: 3.5em ;
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(20.0deg) }  
     20% { transform: rotate(-10.0deg) }
     30% { transform: rotate(20.0deg) }
     40% { transform: rotate(-8.0deg) }
     50% { transform: rotate(13.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }
  
  .wave_two {
    font-size: 3.5em ;
    animation-name: wave_two-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave_two-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(-20.0deg) }  
     20% { transform: rotate(10.0deg) }
     30% { transform: rotate(-20.0deg) }
     40% { transform: rotate(8.0deg) }
     50% { transform: rotate(-13.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }
  